    <section id="skills" class="skills-section reveal">
        <div class="section-header">
            <h2 class="section-title">Expertise</h2>
        </div>
        <div class="skills-grid">
            <a href="https://www.python.org/" target="_blank" class="skill-tag"><i class="fab fa-python"></i> Python</a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="skill-tag"><i class="fab fa-js"></i> JavaScript</a>
            <a href="https://react.dev/" target="_blank" class="skill-tag"><i class="fab fa-react"></i> React</a>
            <a href="https://vuejs.org/" target="_blank" class="skill-tag"><i class="fab fa-vuejs"></i> Vue.js</a>
            <a href="https://flask.palletsprojects.com/" target="_blank" class="skill-tag"><i class="fas fa-server"></i> Flask</a>
            <a href="https://www.docker.com/" target="_blank" class="skill-tag"><i class="fab fa-docker"></i> Docker</a>
            <a href="https://git-scm.com/" target="_blank" class="skill-tag"><i class="fab fa-git-alt"></i> Git</a>
            <a href="https://www.kernel.org/" target="_blank" class="skill-tag"><i class="fab fa-linux"></i> Linux</a>
            <a href="https://en.wikipedia.org/wiki/SQL" target="_blank" class="skill-tag"><i class="fas fa-database"></i> SQL</a>
        </div>
    </section>
